#my_paragraph{
font-size: 70px;
color: crimson;
text-align: center;
border: solid 7px rgb(104, 38, 121)

 }
 #parent{
    width: 1000px;
    height: 900px;
    border: solid 2px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
    }
 .child{
    background-color: rgb(184, 106, 11);
    width: 300px;
    height: 300px;
 }